name: CI

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2
      - name: Setup the Rails application
        env:
          RAILS_ENV: test
        run: |
          bundle install --no-deployment --jobs 4 --retry 3
          bundle exec rails db:migrate
          yarn --frozen-lockfile
      - name: Run unit tests
        run: rails test

  build-push:
    runs-on: self-hosted
    needs: test
    steps:
      - uses: actions/checkout@v2
      - name: Login to Registry
        run: cat ~/github-actions-runner/TOKEN.txt | docker login https://docker.pkg.github.com -u aalepis --password-stdin
      - name: Build image
        run: docker build -t docker.pkg.github.com/aalepis/superci/superci:latest .
      - name: Push image to registry
        run: docker push docker.pkg.github.com/aalepis/superci/superci:latest
